body{
    background: white url("images/bg-login.jpg");
}
.navbar{
    border-radius: 0;
}
.navbar-brand{
    font-family: 'Satisfy', Cambria;
}
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border: 1px #666666;
    border-collapse: collapse;
}
table.gridtable th {
    padding: 8px;
    border: 1px solid #666666;
    background-color: #dedede;
}
table.gridtable td {
    padding: 8px;
    border: 1px solid #666666;
    background-color: #ffffff;
}