{% extends "diplomatiki/base.html" %}

{% block body %}

    <p>Click <a href="https://dydra.com/alvertisjo/new5performtest/hasactivity.html">Activities List</a> for a list of the users' activities.</p>
    <p>Click <a href="https://dydra.com/alvertisjo/new5performtest/sameactivities.html">Common Activities</a> to check common activities.</p>
    <p>Click <a href="https://dydra.com/alvertisjo/new5performtest/count-person.html">Running Entries</a> to see how many entries each user has for activity "running".</p>
    <p>Click <a href="https://dydra.com/alvertisjo/new5performtest/countforallactivities-person.html">All Activities Entries</a> to see how many entries each user has for all activities.</p>
    <p>Click <a href="https://dydra.com/alvertisjo/new5performtest/percentage.html">Running Frequency</a> to see the percentage of running entries.</p>
    <p>Click <a href="https://dydra.com/alvertisjo/new5performtest/activitymeantime.html">Running Average Time</a> to see the average time of running for each user.</p>
    <p>Click <a href="https://dydra.com/alvertisjo/new5performtest/comparetotals.html">Compare</a> to compare the users lifestyles.</p>


{% endblock %}