{% extends 'diplomatiki/base.html' %}
{% block body %}

    <h2>Comparison of number of status updates between the users</h2>
    <table class="gridtable">
        <thead>
            <tr>
                <th><h3>Iosif Entries</h3></th>
                <th><h3>Christos Entries</h3></th>
                <th><h3>Comparison and Judgement</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for record in data.results.bindings %}
                <tr>
                    <td>
                        <h3>{{ record.IosifActivityEntries.value }}</h3>
                    </td>
                    <td>
                        <h3>{{ record.ChristosActivityEntries.value }}</h3>
                    </td>
                    <td>
                        <h3>{{ record.CompareandJudge.value }}</h3>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></p>
    <h3><a href="https://dydra.com/alvertisjo/finalontology/comparestatusupdate.html">Endpoint URL</a></h3>

{% endblock %}