
{% block body %}

    <h3>Activity List/User</h3>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Activity</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data.results.bindings %}
                <tr>
                    <td>
                        {{ record.Username.value }}
                    </td>
                    <td>
                        {{ record.Activity.value }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}