{% extends "diplomatiki/base.html" %}

{% block body %}

  <h2>Hi {{full_name}} you are now logged in!</h2>
  <p><h3>Click <a href="/diplomatiki/logout/">here</a> to logout.</h3></p>
    <p><h3>Click <a href="/diplomatiki/index/">here</a> to view the activity tracker activities.</h3></p>
    <p><h3>Click <a href="/diplomatiki/userindex/">here</a> to view the activity tracker users.</h3></p>
    <p><h3>Click <a href="/diplomatiki/semanticusers/">here</a> to view the users we used for the sparql queries.</h3></p>



{% endblock %}