{% extends 'diplomatiki/base.html' %}
{% block body %}
    <h2>Recorded status updates for each user</h2>
    <table class="gridtable">
        <thead>
            <tr>
                <th><h3>Username</h3></th>
                <th><h3>Status Update Entries</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for record in data.results.bindings %}
                <tr>
                    <td>
                        <h3>{{ record.Username.value }}</h3>
                    </td>
                    <td>
                        <h3>{{ record.ActivityEntries.value }}</h3>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <p></p>
    <h3><a href="https://dydra.com/alvertisjo/finalontology/statusupdateentries.html">Endpoint URL</a></h3>

{% endblock %}